#title{
    font-family: 'Sirivennela', sans-serif;
    font-size: 73px;
    text-align: center; 
}

#excuse{
    font-family: 'Sirivennela', sans-serif;
    font-size: 42px;
    text-align: center; 
    font-weight: bold;
}